In [1]:
%matplotlib inline
import datetime
from dateutil import parser
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

Reading from the csv file - 
Creating a new column of hours from the time column

In [2]:
df = pd.read_csv('new.csv')
df['hour'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.hour
df.head()

,Time,Duration,ESI Score,PatientCount,Disposition,day_name_Friday,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,hour
0,00:02:00,40.55,2,254,1,1,0,0,0,0,0,0,0
1,00:35:00,3.00,3,15,0,1,0,0,0,0,0,0,0
2,00:44:00,3.00,3,14,0,1,0,0,0,0,0,0,0
3,00:47:00,3.00,3,13,0,1,0,0,0,0,0,0,0
4,00:53:00,3.00,3,12,0,1,0,0,0,0,0,0,0

In [4]:
df.Duration.describe()

count    56835.000000
mean         8.414637
std          7.069125
min          0.000000
25%          3.683333
50%          6.316667
75%         10.183333
max         85.616667
Name: Duration, dtype: float64

In [3]:
df.drop(columns=["Time"],axis=1,inplace=True)

In [4]:
df = df.reindex(columns=['Duration', 'ESI Score','PatientCount','hour', 'day_name_Friday',
       'day_name_Monday', 'day_name_Saturday', 'day_name_Sunday',
       'day_name_Thursday', 'day_name_Tuesday', 'day_name_Wednesday','Disposition'])

Encoding the hour column

In [5]:
df=pd.get_dummies(df, prefix=['hour'], columns=['hour'])

In [7]:
df.to_csv('updated.csv',index=False)