In [1]:
%matplotlib inline
import datetime
from dateutil import parser
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv('Blinded_Data.csv')
df.drop(columns=["72 Hr Return Time"],axis=1,inplace=True)
df['Arrival Date/Time'] = df['Arrival Date/Time'].astype(str)
df['Arrival Date/Time'] = pd.to_datetime(df['Arrival Date/Time'], format="%m/%d/%Y %H:%M")
df['Depart Date/Time'] = df['Depart Date/Time'].astype(str)
df['Depart Date/Time'] = pd.to_datetime(df['Depart Date/Time'], format="%m/%d/%Y %H:%M")
df.dtypes

Arrival Date/Time    datetime64[ns]
Dispo Date/Time              object
Depart Date/Time     datetime64[ns]
Disposition                  object
ESI Score                     int64
dtype: object

In [3]:
df.head()

,Arrival Date/Time,Dispo Date/Time,Depart Date/Time,Disposition,ESI Score
0,2019-02-22 00:02:00,NaN,2019-02-23 16:35:00,Unknown,2
1,2019-02-22 00:35:00,2/22/2019 3:35,2019-02-22 03:35:00,LWOT,3
2,2019-02-22 00:44:00,2/22/2019 3:44,2019-02-22 03:44:00,LWOT,3
3,2019-02-22 00:47:00,2/22/2019 3:47,2019-02-22 03:47:00,LWOT,3
4,2019-02-22 00:53:00,2/22/2019 3:53,2019-02-22 03:53:00,LWOT,3

In [4]:
df.dtypes

Arrival Date/Time    datetime64[ns]
Dispo Date/Time              object
Depart Date/Time     datetime64[ns]
Disposition                  object
ESI Score                     int64
dtype: object

In [5]:
df.iloc[0]['Arrival Date/Time']

Timestamp('2019-02-22 00:02:00')

In [6]:
# cp = df[df['Arrival Date/Time']>=df.iloc[0]['Arrival Date/Time']]

In [7]:
# cp = df[df['Depart Date/Time']<=df.iloc[0]['Depart Date/Time']]

In [8]:
# len(cp)
df['PatientCount']=None
# df

In [9]:
for i in range(len(df)):
    cp = None
    cp = df[df['Arrival Date/Time']<=df.iloc[i]['Depart Date/Time']]
    cp = cp[cp['Arrival Date/Time']>=df.iloc[i]['Arrival Date/Time']]
    df.iloc[i, df.columns.get_loc('PatientCount')] = len(cp)

In [10]:
df.tail()

,Arrival Date/Time,Dispo Date/Time,Depart Date/Time,Disposition,ESI Score,PatientCount
56830,2020-04-07 23:06:00,NaN,2020-04-10 21:38:00,Transferred,2,5
56831,2020-04-07 23:16:00,4/8/2020 5:04,2020-04-08 14:52:00,Discharge,2,4
56832,2020-04-07 23:33:00,4/8/2020 2:23,2020-04-08 02:37:00,Discharge,3,3
56833,2020-04-07 23:33:00,4/8/2020 3:30,2020-04-08 03:37:00,Discharge,3,3
56834,2020-04-07 23:45:00,4/8/2020 1:24,2020-04-08 03:02:00,Admitted,1,1

In [11]:
df.to_csv('new1.csv')